<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <style>
        input {
            text-align: center;
            width: 100px;
            height: 20px;
            display: block;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <form action="/create" method="post">
        <input 
            type="text" 
            name="title" 
            id="title" 
            placeholder="title"
        >
        <input 
            type="text" 
            name="text" 
            id="text"
            placeholder="text"
        >
        <input 
            style=
            "
                margin-left: 50px;
                width: 50px;
            "
            type="submit" 
            value="Add"
        >
    </form>
</body>
</html>